*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #E5E5E5;
  font-family: 'Poppins', sans-serif;
}

body::before{
  content: '';
  width: 100%;
  height: 436px;
  display:flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #535971;
}

.page{
  width: 750px;
  margin: auto;
}

header{
  display: flex;
  flex-direction: column;
  
  width: 340px;
  margin-top: 140px;
  
  color: #FFF;
}

header h1{
  text-transform: uppercase;
  font-family: 'Staatliches', cursive;
  margin-bottom: 18px;
}

form{
  background: #FFF;
  border-radius: 8px 8px 0 0;
  width: 750px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  padding: 64px;
}

fieldset{
  border: none;
  
}

.fieldset-wrapper{
  margin-top: 30px;
}

.fieldset-wrapper legend{
  font-family: 'Staatliches', cursive;
  font-size: 24px;
  line-height: 34px;
  color:#535971;
  text-transform:uppercase;

  padding-bottom: 16px;
  margin-bottom: 36px;
  border-bottom: 1px solid #E6E6F0;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  width:100%;
  margin-bottom: 16px;
}

.input-wrapper label{
  font-size: 14px;
  color: #4E4958;
}

.input-wrapper label span{
  color: #797483;
}

.input-wrapper input{
  height: 56px;
  width: 100%;
  font-size: 14px;
  color: #4E4958;
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  margin-top: 8px;
  padding: 8px;
}

.input-wrapper input:hover{
  background: #eeeef0;
}

.fieldset-wrapper h2{
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  line-height: 34px;
  color:#535971;
  text-transform:uppercase;
  border-bottom: 1px solid #E6E6F0;
  margin-bottom: 8px;
  border: none;
  padding: 0;
  font-weight: normal;
}

.col{
  display: flex;
  gap: 22px;
}

footer{
  height: 160px;
  border-radius: 0px 0px 8px 8px;
  background: #535971;
  display: flex;
  align-items: center;
}

footer button {
  height: 55px;
  width:605px;
  border-radius: 20px;
  background: #FF5374;
  color: #FFF;
  border: 0;
  margin: 0 auto;
}

footer button:hover {
  background: #cf405d;
}